In [1]:
import pandas as pd

import sqlite3

DATABASE = "logging/logging.db"

In [2]:
conn = sqlite3.connect(DATABASE)
c = conn.cursor()

c.execute("SELECT * FROM logs")

In [3]:
# Fetch all results
rows = c.fetchall()
for row in rows:
    print(row)

(1, '2001', '[1, 2, 3]', '2025-01-22 21:56:20')
(2, '2001', '[1, 2, 3]', '2025-01-22 21:58:01')
(3, '2001', '[1, 2, 3]', '2025-01-22 21:58:19')
(4, '2005', '[1, 2, 3]', '2025-01-22 22:00:44')
(5, '2005', '[1, 2, 3]', '2025-01-22 22:36:11')
(6, '2005', '[1, 2, 3]', '2025-01-22 22:36:32')
(7, '2005', '[1, 2, 3]', '2025-01-22 22:38:09')
(8, '2005', '[1, 2, 3]', '2025-01-22 22:40:45')
(9, '2005', '[1, 2, 3]', '2025-01-22 22:42:02')
(10, '2005', '[1, 2, 3]', '2025-01-22 22:42:49')
(11, '2005', '[1, 2, 3]', '2025-01-22 22:49:38')
(12, '2012', '[1, 2, 3]', '2025-01-22 22:50:22')
(13, '2012', '[1, 2, 3]', '2025-01-23 09:17:04')
(14, '2012', '[1, 2, 3]', '2025-01-23 09:17:21')
(15, '2012', '[1, 2, 3]', '2025-01-23 09:49:48')
(16, '11111', '[1, 2, 3]', '2025-01-23 09:50:23')
(17, '11111', '[1, 2, 3]', '2025-01-23 09:51:41')
(18, '11111', '[1, 2, 3]', '2025-01-23 09:53:18')
(19, '13131', '[1, 2, 3]', '2025-01-23 10:36:55')
(20, '55555', '[1, 2, 3]', '2025-01-23 10:37:11')
(21, '55555', '[1, 2, 3]', '2025-01-23 10:40:21')
(22, '99999', '[1, 2, 3]', '2025-01-23 10:40:41')